

body{
    background-color: #2c272f;
    margin: 0;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav_bg{
display: flex;
position: relative;
width: 100%;
height: 85px;
flex-direction: row;
background: linear-gradient(90deg, rgb(19, 220, 242) 0%, rgb(123, 23, 166) 47.6%, rgb(59, 14, 89) 100%);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.logo{
width: 90px;
height: 72px;
margin-left: 5px;
margin-top: 5px;
background: url(logo-search-grid-2x.png);
border-radius: 200px;
cursor: pointer;

}

.buttons{
    display: flex;
    height: fit-content;
    width: fit-content;
    margin-top: 15px;
    margin-left: 100px;
    align-content: center;
    flex-direction: row;
}

.nav_button{

    width: 130px;
    height: 50px;
    background: #0B2740;
    border-radius: 35px;
    margin-left: 50px
}
.nav_button:hover{
    background: #071727;
    cursor: pointer;
}

.button_text{
    /* Button1 */
    width: 95px;
    height: 25px;
    margin-left: 30px;
    margin-top: 13px;
    user-select: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FEFEFE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button_text:hover{
    text-decoration: underline;
}

.button_text_anim{
    width: 100px;
    height: 25px;
    margin-left: 10px;
    margin-top: 13px;
    user-select: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FEFEFE;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.button_text_anim:hover{
    text-decoration: underline;
}

.bg_top{
    /* Body */
    
    margin-top: 2%;
    width: 80%;
    height: 219px;
    justify-self: center;
    
    background: linear-gradient(90deg, #13DCF2 0%, #7B17A6 100%);
    border-radius: 53px;
    filter: drop-shadow(0px -10px 15px #13DCF2);
}

.main_top{
    display: flex;
    padding-top: 15px;
    width: fit-content;
    margin: 90px;
    flex-direction: row;
    justify-self: center;
}

.films_month{
   /* Film1 */
    width: fit-content;
    height: 157px;
    margin: 10px;
    
    
   
}

.film_top{
    margin: 10px;
    justify-items: center;
}

.cover_month{
    /* Film_example */
width: 100px;
height: 134.15px;
background: #4D1111;
cursor: pointer;

}

.title_month{
    /* Name_example */
display: flex;
cursor: pointer;
width: 40px;
height: fit-content;
flex-wrap: wrap;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #FFFFFF;
}

.title_month:hover{
    text-decoration: underline;
    color:#393849
    
}

main{
    width: 100%;
    min-height: 100vh;
}

.bg_main{
    /* Rectangle 3 */

    box-sizing: border-box;

    position: absolute;
    width: 100%;
    left: 0px;
    top: 359px;
    padding-bottom: 10%;

    background: linear-gradient(180deg, #3B0E59 0%, #7B17A6 28.85%, #C729F2 52.4%, #13DCF2 80.77%, #0B2740 92.31%);
    border: 1px solid #341a38;
    filter: drop-shadow(0px -10px 15px #450e59);

}

.main{
    justify-self:end;
    margin-right: 30px;
    width: fit-content;
}

.main_films{
    /* Catalog_body */

box-sizing: border-box;
justify-content: flex-end;
height: fit-content;
padding-bottom: 10px;
margin-top: 15%;
background: #39323D;
border: 1px solid #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);


}

.row{
    display: flex;
    flex-direction: row;
    width: fit-content;
    height: 256px;
    margin-bottom:80px;
}

.film{
    width: 150px;
    height: 256px;
    margin: 15px;
    padding: 25px;
    
}

.cover{
    /* Film_exaple */

cursor: pointer;
width: 150px;
height: 225px;

background: #4A2E2E;

}

.title{
    /* Name_example */
display: flex;
justify-self: center;
width: fit-content;
flex-wrap: wrap;
height: 24px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
margin-top: 5px;
color: #FFFFFF;
cursor: pointer;


}

.title:hover{
    text-decoration: underline;
    color:#b9b7fb
    
}

.next_page{
    /* next_page */

display: flex;
justify-self: center;
width: fit-content;
height: 37px;
color: #FFFFFF;
margin: 10px;
padding-top: 40px;
font-size: 20px;

filter: drop-shadow(5px 4px 4px rgba(0, 0, 0, 0.25));
user-select: none;
}

.page_number{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.page_number:hover{
    text-decoration: underline;
}

.next{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
.next:hover{
    text-decoration: underline;
}

.back{
    cursor: pointer;
}
.back:hover{
    text-decoration: underline;
}

.about_body{
    position: relative;
    width: 100%;
    height: 100px;
    margin-top: 50%;
    
}

.about{
    height: 199px;
    background: #383841; 
    border: 3px solid #46465E;

}